#font-grad {
	color:#fff;
	font-size: 24px;
}

.navbar-default {
	background: transparent;
	border-color: transparent;
}
#maintwo {
	width: 100%;
	margin-top: 20px;
    height: 100%;
	position: relative;
	background: #ffffff;
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.25);
}
.roundimg {
    border-radius: 100px;
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}


.roundimg {
    border-radius: 170px;
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.center {
    text-align: center;
}


.leftalign {
    text-align: left;
    margin-bottom: 15px;
}

.rightalign {
    text-align: right;
}

#iconleftalign2{
    position: relative;
    left: 100px;
}

#iconrightalign2 {
    position: relative;
    right: 100px;
}

#iconleftalign3{
    position: relative;
    left: 30px;
}

#iconrightalign3 {
    position: relative;
    right: 30px;
}

#iconleftalign4{
    position: relative;
    left: -30px;
}

#iconrightalign4 {
    position: relative;
    right: -30px;
}

#iconleftalign {
    position: relative;
    left: 160px;
}

#iconrightalign {
    position: relative;
    right: 160px;

}

.devicon-git-plain {
  max-width: 8em;
  padding: 2px;
}

.p2:before {
    content: "";
    display: inline-block;
    width: 0; 
    height: 0; 
    margin-right: 10px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;   
    border-right:7px solid #999; 
}

.margin-right {
    margin-right: 30px;
}

.spin {
    transform-origin: 50% 58%;
}

.devicon-git-plain {
    max-width: 35px;
}

li {
    display: inline-block;

}

.smallimg {
    width: 100%;
    height: 100%;
}

#profile {
    width: 200px;
    height: 200px;
}

.card {
    background-color: #fff;
    padding: 10px;
}

.hidden {
  display: none;
  visibility: hidden;
} 

.padding {
    padding: 10px;
}
/*#nav a {
    width: 100px;
    font-size:20px;
}*/

.navbar-header {
    background-color: transparent;
    width:100%;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: 1px solid #fff;
}

.navbar-toggle.collapsed {
    background-color:transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.jumbotron {
    background-image: url("../../images/197.jpg");
    background-color: #fff;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position-y: -230px; */
    padding-top: 5px;
}

.right {
    text-align: right;
}


.jumbotron h1{
    color: #fff;
    padding-top: 5%;
}

.jumbotron h2 {
    color: #fff;
}

/* .marginbottom {
    padding-bottom: 500px;
} */

/*Media Queries*/

@media (min-width: 1200px) {
	.container {
    	width: 800px;
	}
}

@media (max-width: 1074px){
    .navbar-default{
        display: none;
    }

}
@media (max-width: 736px) {
    #me .pic {
        width: 50%;
    }
}

@media (min-width: 718px){
    .navbar-inverse {
        display: none;
    }
    .navbar-header {
        display: none;
    }

}